.cartao {
  width: 400px;
  height: 200px;
  border: 1px black solid;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  float: left;
  text-align: center; /**alinhar o texto horizontalmente**/
  /**pode ser feito também utilizando position. Por padrão, o position da div é static. Então, para funcioanr, devemos alterar para position: relative**/
}

.pedro1 {
  line-height: 200px; /**vai alinhar o objeto de acordo com o height do pai**/
}

.pedro2 {
  line-height: 200px;
}
/**o termo clear vai garantir que não exista nada em qualquer apontamento que o objeto está**/
